
@media (min-width:992px){
  .cl-custom-mouse-cursor, .cl-custom-mouse-cursor a{
      cursor:none !important;
  }
  .circle-cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      border-radius: 50%;
      &--outer {
        width: 30px;
        height: 30px;
        border: 1px solid var(--cursor-color);
        z-index: 12000;
        opacity: 0.2;

        &.issue-zone-light{
          border:1px solid #000;
        }
        &.issue-zone-dark{
          border:1px solid #fff;
        }
      }
      &--inner {
        width: 5px;
        height: 5px;
        left: -2.5px;
        top: -2.5px;
        z-index: 11000;
        background: var(--cursor-color);
        &.issue-zone-light{
          background: #000;
        }
        &.issue-zone-dark{
          background: #fff;
        }
      }
    }
}

@media (max-width:991px){
  .circle-cursor{
    display:none;
    &--inner{
      display:none;
    }
    &--outer{
      display:none;
    }
  }
}